<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./coupon_main.css">
    <link rel="stylesheet" href="./list.css">
    <title>Document</title>
</head>
<body>
    <div class="coupon_wrap">
        <a href="#">
            <div class="coupon_brand">
                    <img src="./coupon_brand/nike.png">
            </div>
        </a>
        <a href="#">
            <div class="coupon_brand">
                <img src="./coupon_brand/gucci.png">
            </div>
        </a>
        <a href="#">
            <div class="coupon_brand">
                <img src="./coupon_brand/musinsa.png">
            </div>
        </a>
        <a href="#">
            <div class="coupon_brand">
                <img src="./coupon_brand/new balance.png">
            </div>
        </a>
        <a href="#">
            <div class="coupon_brand">
                <img src="./coupon_brand/adidas.png">
            </div>
        </a>
        <div class="category">
            <span>CATEGORY</span>
            <ul class="category_list">
                <li  class="category_detail">
                    <a href="#">전체</a>
                </li>
                <li class="category_detail">
                    <a href="#">최신순</a>
                </li>
                <li class="category_detail">
                    <a href="#">할인율순</a>
                </li>
                <li class="category_detail">
                    <a href="#">인기순</a>
                </li>
            </ul>
        </div>
        <div class="category">
            <span>TYPE</span>
            <ul class="category_list">
                <li  class="category_detail">
                    <a href="#">전체</a>
                </li>
                <li class="category_detail">
                    <a href="#">상의</a>
                </li>
                <li class="category_detail">
                    <a href="#">하의</a>
                </li>
                <li class="category_detail">
                    <a href="#">신발</a>
                </li>
            </ul>
        </div>
        <hr width="80%">

        <div class="list_wrap">
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">DOWNLOAD</a>
                </div>
            </div>
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">다운받기</a>
                </div>
            </div>
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">다운받기</a>
                </div>
            </div>
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">다운받기</a>
                </div>
            </div>
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">다운받기</a>
                </div>
            </div>
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">다운받기</a>
                </div>
            </div>
            <div class="list_coupon">
                <img src="./coupon/musinsa_blackfriday.jpg">
                <div class="list_coupon_cont">
                    <strong>NUSINSA BLACK FIRDAY</strong>
                    <p>의류, 신발 최대 80%할인행사</p>
                </div>
                <div class="list_coupon_down">
                    <a href="#">다운받기</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>