<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.MybatisAndroidImpl">
	
	<select id="androidLogin" resultType="mybatis.MemberDTO">
		SELECT * FROM member WHERE userid=#{0} AND userpass=#{1}
	</select>
	
	<select id="androidMoyoBusLogin" resultType="mybatis.MoyoBusDTO">
		SELECT * FROM moyo_bus WHERE busid=#{0} AND buspass=#{1}
	</select>
	
	<select id="andGetMoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM MOYO 
		WHERE distance_wgs84(#{0}, #{1}, m_lat, m_lon) <![CDATA[<=]]> 1
		AND m_status='진행'
		ORDER BY m_dday DESC
	</select>
	
	<select id="andGetMyMoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo WHERE m_idx 
		IN (SELECT m_idx FROM moyo_use WHERE userid=#{0})
		ORDER BY m_idx DESC
	</select>

	<select id="andGetMyMoyoInfo" resultType="mybatis.MoyoUseDTO">
		SELECT * FROM moyo_use WHERE m_idx=#{0} AND userid=#{1}
		ORDER BY m_idx DESC
	</select>
	
	<select id="andGetMoyoInfo" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo WHERE m_idx=#{0}
	</select>
	
	<update id="andUpdateMoyoBus">
		UPDATE moyo_bus 
		SET mb_lat=#{0}, mb_lon=#{1}, mb_addr=#{2}, mb_status=#{3}, mb_lastupdate=sysdate
		WHERE busid=#{4} 
	</update>
	
	<select id="andGetMoyoBus" resultType="mybatis.MoyoBusDTO">
		SELECT * FROM moyo_bus WHERE m_idx=#{0}
	</select>


</mapper>
 