<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--  
 혜수야 안녕 나야나 첫번째 매퍼를 구경왔단다~~ 홧탱~
  		> 아주 귀요밍이 방문해줬군요~~~ 하튜
 -->
<mapper namespace="mybatis.MybatisMoyoImpl">
	
	<select id="getMyAddr" resultType="String">
		SELECT addr FROM member where userid=#{userid}
	</select>

	<select id="getMoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM MOYO 
		WHERE distance_wgs84(#{0}, #{1}, m_lat, m_lon) <![CDATA[<=]]> 1
		AND m_status='진행'
		ORDER BY m_dday DESC
	</select>
	
<!-- 		<id column="m_idx" property="usernum" /> -->
	<resultMap type="java.util.HashMap" id="countMoyoUser">
		<result column="m_idx" property="m_idx" javaType="java.lang.String" />
		<result column="usernum" property="usernum" javaType="java.lang.String" />
	</resultMap>
	
	<select id="countMoyoUser" resultType="int">
		SELECT count(*)
		FROM moyo_use 
		WHERE m_idx = #{0}
	</select>
	
	<select id="getMoyoData" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo WHERE m_idx=#{0}
	</select>
	
	<select id="getMemberData" resultType="mybatis.MemberDTO">
		SELECT * FROM member WHERE userid=#{0}
	</select>
	
	<insert id="moyoFormDataInsert" parameterType="mybatis.MoyoDTO">
		INSERT INTO moyo_use 
		VALUES (#{m_idx}, #{userid}, #{mu_name}, #{mu_phone}, #{mu_email}, #{mu_time}, sysdate)
	</insert>

	<!-- 관리자용 모여리스트 불러오기 
	<select id="MoyoList" resultType="String"> 
		SELECT m.*, mb.mb_num
		FROM moyo m, moyo_bus mb
		WHERE m.m_idx=mb.m_idx
		ORDER BY m_idx DESC
		SELECT * FROM(
			SELECT Tb.*, rownum rNum FROM (
				SELECT * FROM moyo
				ORDER BY m_idx DESC
			)Tb
		)
		ORDER BY m_idx DESC
		
	-->
	<select id="MoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo ORDER BY m_idx DESC
	</select>
	
	<insert id="newMoyo" parameterType="mybatis.MoyoDTO">
		INSERT INTO moyo
		VALUES (moyo_seq.nextval, #{m_idx}, #{m_name}, #{m_addr}, #{m_goal}, #{m_dday}, #{m_desc}, #{m_start}, #{m_end}, #{m_status})
	</insert>

	<update id="updateMoyo" parameterType="mybatis.MoyoDTO">
		UPDATE moyo 
		SET m_name=#{m_name}, m_addr=#{m_addr}, m_goal=#{m_goal}, m_dday=#{m_dday}, m_desc=#{m_desc}, 
		m_start=#{m_start}, m_end=#{m_end}, m_status=#{m_status} 
		WHERE m_idx=#{m_idx}
	</update>
</mapper>
 