<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="mybatis.MybatisMoyoImpl">
	
	<select id="getMyAddr" resultType="String">
		SELECT addr FROM member where userid=#{userid}
	</select>

	<select id="getMoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM MOYO 
		WHERE distance_wgs84(#{0}, #{1}, m_lat, m_lon) <![CDATA[<=]]> 1
		AND m_status='진행'
		ORDER BY m_dday DESC
	</select>
	
	<resultMap type="HashMap" id="countMoyoUser">
		<id column="m_idx" property="usernum" />
	</resultMap>
	
	<select id="countMoyoUser" resultMap="countMoyoUser"
		parameterType="list">
		SELECT m_idx, count(*) usernum
		FROM moyo_use WHERE
		<foreach collection="list" item="item" separator="or">
			 m_idx = #{item}
		</foreach>
		GROUP BY m_idx
	</select>
	
	<select id="getMoyoData" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo WHERE m_idx=#{0}
	</select>
	
	<insert id="moyoFormDataInsert" parameterType="mybatis.MoyoDTO">
		INSERT INTO moyo_use 
		VALUES (#{m_idx}, #{userid}, #{mu_name}, #{mu_phone}, #{mu_email}, #{mu_time}, sysdate)
	</insert>

</mapper>
 