<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--  
 혜수야 안녕 나야나 첫번째 매퍼를 구경왔단다~~ 홧탱~
  		> 아주 귀요밍이 방문해줬군요~~~ 하튜
 -->
<mapper namespace="mybatis.MybatisMoyoImpl">
	
	<select id="getMyAddr" resultType="String">
		SELECT addr FROM member where userid=#{userid}
	</select>

	<select id="getMoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM MOYO 
		WHERE distance_wgs84(#{0}, #{1}, m_lat, m_lon) <![CDATA[<=]]> 1
		AND m_status='진행'
		ORDER BY m_dday DESC
	</select>
	
	<resultMap type="java.util.HashMap" id="countMoyoUser">
		<result column="m_idx" property="m_idx" javaType="java.lang.String" />
		<result column="usernum" property="usernum" javaType="java.lang.String" />
	</resultMap>
	
	<select id="countMoyoUser" resultType="int">
		SELECT count(*)
		FROM moyo_use 
		WHERE m_idx = #{0}
	</select>
	
	<select id="getMoyoData" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo WHERE m_idx=#{0}
	</select>
	
	<select id="getMemberData" resultType="mybatis.MemberDTO">
		SELECT * FROM member WHERE userid=#{0}
	</select>
	
	<insert id="moyoFormDataInsert" parameterType="mybatis.MoyoDTO">
		INSERT INTO moyo_use 
		VALUES (#{m_idx}, #{userid}, #{mu_name}, #{mu_phone}, #{mu_email}, #{mu_time}, sysdate)
	</insert>
	
	<select id="getPlzList" resultType="mybatis.PleaseDTO">
		SELECT * FROM please 
		WHERE plz_status='진행' ORDER BY plz_end
	</select>
	
	<select id="getPlzProduct" resultType="mybatis.ProductDTO">
		SELECT * FROM product WHERE p_code=#{0}
	</select>
	
	
	<!-- 마이페이지 모여버스 -->
	<select id="getMyMoyoUse" resultType="mybatis.MoyoUseDTO">
		SELECT * FROM moyo_use
		WHERE userid=#{0} ORDER BY mu_regidate DESC
	</select>
	
	<select id="getMyMoyoList" resultType="mybatis.MoyoDTO">
		SELECT * FROM moyo WHERE m_idx=#{0}
	</select>
	
	<select id="getMyMoyoBus" resultType="mybatis.MoyoBusDTO">
		SELECT * FROM moyo_bus WHERE m_idx=#{0}
	</select>

</mapper>
 