<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.MybatisQNAImpl">
	
	<select id="getQnaDTO" resultType="mybatis.QnaDTO">
		SELECT * FROM QNA
	</select>
	
	<select id="getQnaList" resultType="mybatis.QnaDTO" parameterType="java.util.List">
		select q_idx, q_title, userid, q_content, q_date from QNA where userid=#{userid} or userid='admin' order by q_idx
	</select>
	
	<select id="getQnaDetail" resultType="mybatis.QnaDTO" parameterType="hashmap">
	select q_idx, q_cate, q_title, q_content from QNA where q_idx = #{q_idx}
	</select>
	
	<insert id="insertQNA" parameterType="mybatis.QnaDTO">
	insert into QNA (q_idx, q_cate, q_title, q_content, userid)
	values
	(QNA_seq.nextval, #{q_cate}, #{q_title}, #{q_content}, #{userid})
	</insert>

	<!-- 관리자용 질답리스트 불러오기 
		SELECT * FROM(
		SELECT Tb.*, ROWNUM rNum FROM(
			SELECT * FROM QNA
			WHERE userid!='admin'
			ORDER BY q_idx ASC
			)Tb
		)
		ORDER BY rNum DESC	
	-->
	<select id="QnAList" resultType="mybatis.QnaDTO">
		SELECT * FROM QNA
	</select>
	
	<insert id="adminAnswer" parameterType="mybatis.QnaDTO">
		insert into QNA (q_idx, q_cate, q_title, q_content, userid, q_status, q_flag)
		values
		(QNA_seq.nextval, #{q_cate}, #{q_title}, #{q_content}, #{userid}, #{q_status}, #{q_flag})
	</insert>

</mapper>