<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.MybatisSearchImpl">
	<select id="searchProducts" parameterType="java.util.ArrayList" resultType="mybatis.ProductDTO">
		<choose>
			<when test='sWords.size==1 and keyword=="color"'>
				SELECT p.*
				from product p, product_detail d
				WHERE p.p_code=d.p_code 
				<foreach collection="sWords" item="item" separator=" " open=" " close=" " >
					AND pd_color LIKE '%'||#{item}||'%'
				</foreach>
			</when>
			<when test='sWords!=null and keyword=="brand"'>
				SELECT * FROM (
					SELECT Tb.*, rownum rNum FROM (
						SELECT * FROM product
							WHERE 
						<foreach collection="sWords" item="item" separator="or" open=" " close=" " >
							p_brand LIKE '%'||#{item}||'%' 
						</foreach>
						ORDER BY p_idx DESC
					)Tb
				)
			</when>
			<when test='sWords!=null and keyword=="tag"'>
				SELECT * FROM (
					SELECT Tb.*, rownum rNum FROM (
						SELECT * FROM product
							WHERE 
						<foreach collection="sWords" item="item" separator="or" open=" " close=" " >
							p_tag LIKE '%'||#{item}||'%' 
						</foreach>
						ORDER BY p_idx DESC
					)Tb
				)
			</when>
			<when test='sWords!=null and sWords.size>1'>
				SELECT * FROM (
					SELECT Tb.*, rownum rNum FROM (
						SELECT * FROM product
							WHERE 
							<foreach collection="sWords" item="item" separator="AND" open=" " close=" " >
								 p_name Like '%'||#{item}||'%'
							</foreach>
						ORDER BY p_idx DESC
					)Tb
				)
			</when>
		<otherwise>
			SELECT * FROM (
					SELECT Tb.*, rownum rNum FROM (
						SELECT * FROM product
				<foreach collection="sWords" item="item" separator="AND" open=" " close=" " >
						WHERE p_name Like '%'||#{item}||'%'
				</foreach>
						AND p_flag!='뉴디'
						ORDER BY p_idx DESC
					)Tb
				)
		</otherwise>
		</choose>	
		<choose>
			<when test='order=="asc"'>
				ORDER BY p_price ASC
			</when>
			<when test='order=="desc"'>
				ORDER BY p_price DESC
			</when>
			<otherwise>
				ORDER BY p_idx DESC
			</otherwise>
		</choose>

		
	</select>
	
	<select id="getColors" resultType="String">
		SELECT DISTINCT pd_color from product_detail
	</select>
	
	<select id="getTags" resultType="String">
		SELECT DISTINCT p_tag from product
	</select>
	
</mapper>

<!--  
	<select id="searchProducts2" parameterType="java.util.ArrayList" resultType="mybatis.ProductDTO">

			<if test='sWords!= null and sWords.size>1'>
				SELECT * FROM (
					SELECT Tb.*, rownum rNum FROM (
						SELECT * FROM product
							WHERE 
							<foreach collection="sWords" item="item" separator="AND" open="(" close=")" >
								 p_name Like '%'||#{item}||'%'
							</foreach>
						ORDER BY p_idx DESC
					)Tb
				)
			</if>
	</select>
-->	