<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mybatis.MybatisProductImpl">

	<select id="getStoreList" resultType="mybatis.ProductDTO">
		SELECT * FROM product
	</select>
<!-- 
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) from product
	</select>

	<insert id="upload" parameterType="mybatis.StoreListDTO">
		INSERT INTO product(p_idx, p_name, p_code, p_price, p_brand, p_ofile, p_sfile)
		VALUES
		(product_seq.nextval, #{_name}, #{_code}, #{_price}, #{_brand}, #{_ofile}, #{_sfile})
	</insert>
 -->

</mapper>